*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: lightblue ;
}
.card-container{
    /* background-color: lightcoral; */
    height: auto;
    width: 100%;
}

.card{
    width: 100%;
    background-color: white;
    height: 100px;
}
.card